<div class="mat-elevation-z4">
  <div class="footer">
    <mat-tab-group mat-align-tabs="center" class="content">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-store icon-title"></i>
          Sobre
        </ng-template>
        
        <div class="footer-content">
          <div>
            Dubai Pizzaria Um Novo Conceito Em Pizza.
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-map-marker-alt icon-title"></i>
          Localização
        </ng-template>
        <div class="footer-content">
          <div>
            Rua Henrique Gregori, 910 - Boa Vista <br>
           <br>
            São Carlos - SP
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-laptop-code icon-title"></i>
          Desenvolvedor
        </ng-template>
        <div class="footer-content">
          <div>
            <i class="fab fa-github"></i><a href="https://github.com/Ronatas" class="link-a" target="_blank">Diniz</a>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  <div class="redes mat-elevation-z4">
    <p>
      <a href=""><i class="fab fa-facebook"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-whatsapp-square"></i></a>
    </p>

    <p>
      <a href=""><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</div>
